<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>קריפטו השקעות ישראל</title>
  <link  rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css" />
  <link rel="stylesheet" type="text/css"  href="stylesheets/main.css">
  ">
</head>
<body id="home">
    <nav class="navbar navbar-expand-md navbar-light fixed-top py-4">
      <div class="container">
        <a  class="navbar-brand">
          <img src="img/crypto.png" width="180" height="48" alt=""><h3 class="d-inline align-middle"></h3>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#home" class="nav-link">דף בית</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link"> למה להשקיע דרכינו</a>
            </li>
            <li class="nav-item">
              <a href="#authors" class="nav-link">תכירו את הסוכנים</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">צור קשר </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <!-- SHOWCASE -->
    <section id="showcase" class="py-5">
      <div class="primary-overlay text-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h1  class=" mt-5 pt-5">
                    קריפטואול-השקעות 
              </h1>
              <p class="lead"> קריפטואול בית השקעות שהוקם על מנת להשקיע במטבעות וירטואלים</p>
              <a href="#" class="btn btn-outline-secondary btn-lg text-white">
                קרא עוד</a>
            </div>
            <div class="col-lg-6">
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
  
    <!-- BOXES -->
    <section id="boxes" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card text-center border-primary">
              <div class="card-body">
                <h3 class="text-primary">תהיה מהיר יותר</h3>
                <p class="text-muted">האחוזי העלייה בקריפטו גדולים הרבה יותר מבורסות הקריפטוקרנסי עלה 4700% מינואר 2017 עד ינואר 2018 ... תתחשב לבד את התפוגה בשנה שהיית יכול לעשות </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card text-center bg-primary text-white">
              <div class="card-body">
                <h3>תהיה חכם</h3>
                <p> תלמד לשים את השקעות שלך במקום שיכול לתת לך תפוקה גבוהה,מניות עולות 50% בהכי גבוה שתוכל להשיג בטווח החודש ,הקריפטו עולה במאות אחוזים בחודש  </p>
              </div>
            </div>
          </div>
         
            </div>
          </div>
          
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- ABOUT / WHY SECTION -->
    <section id="about" class="py-5 text-center bg-light">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="info-header mb-5">
              <h1 class="text-primary pb-3">
                למה להשקיע דרכינו? ולא לבד
              </h1>
              <p class="lead pb-3">
                 הקריפטוקרנסי מורכב מיותר מאלף מטבעות ובעולם שלנו יש אלפי מטבעות שהם הונאות או בכלל לא שווים כלום וכנראה שגם לא יהיו שווים בעתיד, תשים את הכסף שלך במקום בטוח ובמקומות הנכונים אצלנו 
              </p>
            </div>
  
            <!-- ACCORDION -->
            <div id="accordion" role="tablist">
              <div class="card">
                <div class="card-header" id="heading1">
                  <h5 class="mb-0">
                    <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                      <i class="fa fa-arrow-circle-down"></i> קבל השראה
                    </div>
                  </h5>
                </div>
  
                <div id="collapse1" class="collapse show">
                  <div class="card-body">
                    
איך נראה העסק כאשר כולם והכל על רשת ציבורית אחת, מבוזרת, אנונימית, ואמינה?

למרות שזה אולי נראה רחוק,טכנולוגית הבלוקצ'יין  עושה בדיוק את זה. זה עלול לקחת עוד כמה שנים כדי להגיע לנקודה זו, אבל כל אלמנט של חיינו ישתנה ברגע שזה יקרה.
לאדם שנולד בעתיד לא יהיה חשבון בנק. יהיה להם אפליקציה בנקאית, ששולחת ומקבלת כסף מכל מקום בעולם, באופן מיידי ועם עמלה מאוד נמוכה אם בכלל .
תצטרף לעתיד! ותעשה רווח שלא לך תוכל לתאר
                  </div>
                </div>
              </div>
  
              <div class="card">
                <div class="card-header" id="heading2">
                  <h5 class="mb-0">
                    <div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                      <i class="fa fa-arrow-circle-down"></i> רווחי
                    </div>
                  </h5>
                </div>
  
                <div id="collapse2" class="collapse">
                  <div class="card-body">
                      תשקיע דרכינו ולא תצטרך להתעסק בזה,ללמוד את התחום. תעשה רווחים של לפחות עשרות עד מאות אחוזים ! ,לא תסתכן להשקיע במטבעות שהם הונאות או במטבעות שלא יתנו לך שום תפוקה ורק ירדו למטה, תשים את הכסף שלך במקום בטוח עם תפוקה יותר חזקה משוק ההון

                  </div>
                </div>
              </div>
  
              <div class="card">
                <div class="card-header" id="heading3">
                  <h5 class="mb-0">
                    <div href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                      <i class="fa fa-arrow-circle-down"></i> מזה הבלוקצ'יין
                    </div>
                  </h5>
                </div>
  
                <div id="collapse3" class="collapse">
                  <div class="card-body">
                      בלוקצ'יין (Blockchain) היא מערכת לעיבוד עסקאות במטבעות דיגיטליים, המבוססת על מסד נתונים מבוזר ומוצפן. החידוש בטכנולוגיה הזו הוא שהיא מאפשרת העברת תשלומים ללא גוף מרכזי (כמו בנק או חברת כרטיסי אשראי), שמפקח על ההעברות או שולט במאגר הנתונים. המערכת מבוססת על רשת תקשורת, שבה כל אחד מהצדדים הוא גם לקוח וגם שרת, ואין ביניהם מתווכים.

                      הטכנולוגיה, שמבוססת על 'בלוקים' של עסקאות, עתידה לשמש מגוון של תעשיות.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- AUTHORS -->
    <section id="authors" class="my-5 text-center">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="info-header mb-5">
              <h1 class="text-primary pb-3">
                תכירו את הסוכנים
              </h1>
              <p class="lead pb-3">
                כלל הסוכנים שלנו משקיעים בבלוקצ'יין ומבינים בתחום ועשו רווחים של עשרות עד מאות אחוזים! במספר חודשים עד שנה
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="card-body">
                <img src="img/prot.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                <h3>זואי חדד</h3>
                <h5 class="text-muted">סוכנת</h5>
                <p>בתחום הבלוקצ'יין כשלוש שנים , עשתה רווחים שלא ניתן לתאר,מתעסקת במטבעות קטנים על מנת לייצר רווחים של מאות אחוזים </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="card-body">
                <img src="img/pr.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                <h3>איתי ברכה</h3>
                <h5 class="text-muted"> סוכן ומייסד החברה</h5>
                <p>עוסק בתחום הבלוקצ'יין מספר שנים ,עשה רווחים של עשרות אחוזים עד מאות אחוזים מתעסק בהשקעות למטבעות גדולים</p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="card-body">
                <img src="img/person4.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                <h3>ניר אברהם</h3>
                <h5 class="text-muted">סוכן השקעות</h5>
                <p>
                    התחיל לעסוק בתחום הבלוקצ'יין לפני מספר שנים ,החל את דרכו בכריית ביטקוין וכיום הוא עוסק בהשקעות לטווח הארון</p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="p-4">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- CONTACT -->
    <section id="itai"  class="bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="bko" class="col-lg-9">
            <h3>צור קשר</h3>
            <p class="lead">צור קשר איתנו דרך איימיל או טלפון על מנת להשקיע בקריפטו</p>
            <form>
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" placeholder="שם">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input type="email" class="form-control" placeholder="איימיל">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                  <textarea class="form-control" placeholder="טקסט" rows="5"></textarea>
                </div>
              </div>
              <input type="submit" value="שלח"  class="btn btn-primary btn-block btn-lg">
            </form>
          </div>
          <div class="col-lg-3 align-self-center">
            <img src="img/cube.jpg" alt="" class="img-fluid">
            
            <span class="input-group-addon"><i class="fa fa-phone"> 053-271-3452 <strong>  הסוכנת זואי חדד</strong></i></span>
            <span class="input-group-addon"><i class="fa fa-phone"> 053-462-3452 <strong>הסוכן איתי ברכה</strong></i></span>
            <span class="input-group-addon"><i class="fa fa-phone"> 053-353-3452 <strong>הסוכן ניר אברהם</strong></i></span>


            
          </div>
        </div>
      </div>
    </section>
  
    <footer id="main-footer" class="py-1 bg-primary text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6 ml-auto">
            <p class="rigto" class="lead">Crypto$All &copy; 2018</p>
          </div>
        </div>
      </div>
    </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.2/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js"></script>
</body>
</html>
